*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quiz_container{
   width:700px;
   height:400px;
   margin:auto;
   margin-top: 100px;
   border: 2px solid #000;
   border-radius: 10px;
}
h2{
  margin-top: 40px;
  margin-left:40px;
}
input{
   font-size: 30px;
   margin-left:10px
}
label{
  font-size: 30px;
  margin-left:50px;
  margin-top: 40px;
}