*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding-top: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer img{
    width: 200px;
    height: 200px;
    margin-right: 100px;
    margin-top: 90px;
}