*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: lightblue;
}
.container{
    display: block;
    justify-content: center;
    align-items: center;
}
.container h1{
    text-align: center;
    padding-top: 30px;
}
.container h3{
    text-align: center;
    padding: 30px;
}
.input-btn{
    display: flex;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input input{
    font-size: 25px;
    margin-right: 15px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}